# Solución - Ejercicio 1 - Películas

## Pasos a seguir: 

1. Archivo **movies** 

    1. Crear el Dataframe  

    2. ¿Conocemos los datos?
        - Columnas
        - Tamaño 
        - Tipos de datos
    
    3. Renombrar las columnas ID, Titulo, Genero

    4. ¿Hay Valores nulos (NaN) en las columnas?
    
    5. Regresa algunas secciones
        - Segunda Columna ¿Acaso los valores son únicos?
        - Registro número 40
   
2. Archivo **ratings**

    1. ¿Conocemos los datos? 
        - ¿Entendemos todos?
    
    2. Obtengamos los estadísticos básicos de las calificaciones 
    
    3. Cambiemos la escala de las calificaciones de un máximo de 5 a 100
    
    4. ¿Cuántas calificaciones tiene cada película? ¿Cuál es la calificación media de cada uno? 
        Nota: agrupen las calificaciones y cuenten las clasificaciones 
    
    5. ¿cuáles son las películas son las 20 mejores  y peores según las calificaciones? ¿Cuáles son las más calificadas? 

3. Pongamonos serios: 
    
    1. La columna de genero en el DataFrame tiene divisiones, ¿podemos poner cada genero en una columna? 
    2. Concatena las nuevas columnas y quita la columna vieja

## 1. Archivo *movies*

### 1. Creamos los DataFrames

In [17]:
import pandas as pd

data1=pd.read_csv('movielens/movies.csv')

In [149]:
# Creacion de los dataframes 
df1=pd.DataFrame(data1)

### 2. ¿Conocemos los datos?

In [150]:
#Podemos imprimir el dataframe
#df1

#Podemos imprimir solo los primeros 5 registros 
df1.head()

,ID,Titulo,Genero
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [20]:
# Tamaño del Dataframe
df1.shape

(9742, 3)

### 3. Renombra las columnas

In [151]:
df1.columns=['ID','Titulo','Genero']
df1.head()

,ID,Titulo,Genero
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

### 4. ¿Hay Valores nulos (NaN) en las columnas?

In [23]:
df1.isnull().any()

ID        False
Titulo    False
Genero    False
dtype: bool

### 5. Algunas secciones

In [12]:
# Segunda columna 
pd.DataFrame(df1['Titulo']).head()

                               Titulo
0                    Toy Story (1995)
1                      Jumanji (1995)
2             Grumpier Old Men (1995)
3            Waiting to Exhale (1995)
4  Father of the Bride Part II (1995)

In [16]:
#  Renglon 40 
pd.DataFrame(df1.iloc[39]).head()

                        39
ID                      43
Titulo  Restoration (1995)
Genero               Drama

## 2. Archivo *ratings*

### 1. ¿Conocemos los datos?

In [26]:
#Lectura de los datos 
data2=pd.read_csv('movielens/ratings.csv')

# Creacion de los dataframes 
df2=pd.DataFrame(data2)

# Encabezados 
df2.head()

# Existen datos del usuario que las califico, las peliculas calificadas por el, la calificación y la hora en que fueron calificadas

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

### 2. Obtengamos los estadísticos básicos de las calificaciones

In [28]:
#Principales estadísticos descriptivos
df2['rating'].describe()

# Count - Cuantos registros existen
# Mean  - Promedio
# Std   - Desviación estándar 
# min   - Valor Mínimo
# 25%   - 25 percentil 
# 50%   - 50 percentil 
# 75%   - 75 percentil 
# max   - Valor máximo

count    100836.000000
mean          3.501557
std           1.042529
min           0.500000
25%           3.000000
50%           3.500000
75%           4.000000
max           5.000000
Name: rating, dtype: float64

### 3. Cambiemos la escala de las calificaciones de un máximo de 5 a 100

In [91]:
# Usando la regla de 3 tenemos que la nueva columna (NC) respecto a la vieja (VC) se calcula como
#       NC= 100*VC/5

df2['NC']=100*df2['rating']/5

df2.head()

   userId  movieId  rating  timestamp     NC
0       1        1     4.0  964982703   80.0
1       1        3     4.0  964981247   80.0
2       1        6     4.0  964982224   80.0
3       1       47     5.0  964983815  100.0
4       1       50     5.0  964982931  100.0

### 4. ¿Cuántas calificaciones tiene cada película? ¿Cuál es la calificación media de cada uno?

In [109]:
# Agrupamos las columnas de rating y movieId en terminos del movie Id para obtener 
Grouped=df2[['movieId','rating']].groupby('movieId')

In [130]:
Grouped.count()[:10]

         rating
movieId
1           215
2           110
3            52
4             7
5            49
6           102
7            54
8             8
9            16
10          132

In [133]:
Grouped.mean()[:10]

           rating
movieId
1        3.920930
2        3.431818
3        3.259615
4        2.357143
5        3.071429
6        3.946078
7        3.185185
8        2.875000
9        3.125000
10       3.496212

### 5. ¿cuáles son las películas son las 20 mejores  y peores según las calificaciones? ¿Cuáles son las más calificadas?

In [134]:
# Las 20 mejores peliculas 
# Contamos los datos agrupados . Los ordenamos siguiendo el rating  de forma descendete. traemos las pimeras 10 columnas
Grouped.mean().sort_values(by='rating',ascending=False).iloc[:10]

         rating
movieId
88448       5.0
100556      5.0
143031      5.0
143511      5.0
143559      5.0
6201        5.0
102217      5.0
102084      5.0
6192        5.0
145994      5.0

In [135]:
# Las 20 peores peliculas 
# Contamos los datos agrupados . Los ordenamos siguiendo el rating  de forma descendete. traemos las pimeras 10 columnas
Grouped.mean().sort_values(by='rating',ascending=False).iloc[-10:]

         rating
movieId
44243       0.5
72424       0.5
6371        0.5
82684       0.5
137517      0.5
157172      0.5
85334       0.5
53453       0.5
8494        0.5
71810       0.5

In [137]:
# Peliculas más calficadas
# Contamos los datos agrupados . Los ordenamos siguiendo el rating  de forma descendete. traemos las pimeras 10 columnas
Grouped.mean().sort_values(by='rating',ascending=False).iloc[:10]

         rating
movieId
88448       5.0
100556      5.0
143031      5.0
143511      5.0
143559      5.0
6201        5.0
102217      5.0
102084      5.0
6192        5.0
145994      5.0

## 3. Pongamonos serios

### 1. La columna de genero en el DataFrame tiene divisiones, ¿podemos poner cada genero en una columna?

In [142]:
g=df1['Genero'].str.split('|',n=5,expand=True)
g.columns=['G1','G2','G3','G4','G5','G6']
g

               G1         G2        G3       G4        G5    G6
0       Adventure  Animation  Children   Comedy   Fantasy  None
1       Adventure   Children   Fantasy     None      None  None
2          Comedy    Romance      None     None      None  None
3          Comedy      Drama   Romance     None      None  None
4          Comedy       None      None     None      None  None
5          Action      Crime  Thriller     None      None  None
6          Comedy    Romance      None     None      None  None
7       Adventure   Children      None     None      None  None
8          Action       None      None     None      None  None
9          Action  Adventure  Thriller     None      None  None
10         Comedy      Drama   Romance     None      None  None
11         Comedy     Horror      None     None      None  None
12      Adventure  Animation  Children     None      None  None
13          Drama       None      None     None      None  None
14         Action  Adventure   Romance     None      None  None
15          Crime      Drama      None     None      None  None
16          Drama    Romance      None     None      None  None
17         Comedy       None      None     None      None  None
18         Comedy       None      None     None      None  None
19         Action     Comedy     Crime    Drama  Thriller  None
20         Comedy      Crime  Thriller     None      None  None
21          Crime      Drama    Horror  Mystery  Thriller  None
22         Action      Crime  Thriller     None      None  None
23          Drama     Sci-Fi      None     None      None  None
24          Drama    Romance      None     None      None  None
25          Drama       None      None     None      None  None
26       Children      Drama      None     None      None  None
27          Drama    Romance      None     None      None  None
28      Adventure      Drama   Fantasy  Mystery    Sci-Fi  None
29          Crime      Drama      None     None      None  None
...           ...        ...       ...      ...       ...   ...
9712       Comedy    Fantasy    Sci-Fi     None      None  None
9713       Action  Adventure    Comedy  Fantasy    Sci-Fi  None
9714        Crime      Drama      None     None      None  None
9715       Comedy    Romance      None     None      None  None
9716       Comedy       None      None     None      None  None
9717    Adventure     Comedy   Fantasy     None      None  None
9718       Comedy      Drama      None     None      None  None
9719  Documentary       None      None     None      None  None
9720       Action  Adventure  Thriller     None      None  None
9721       Action      Crime  Thriller     None      None  None
9722       Action     Sci-Fi      None     None      None  None
9723       Comedy      Crime     Drama     None      None  None
9724       Sci-Fi   Thriller      None     None      None  None
9725        Drama    Romance      None     None      None  None
9726       Comedy       None      None     None      None  None
9727        Drama       None      None     None      None  None
9728        Drama       None      None     None      None  None
9729    Animation       None      None     None      None  None
9730  Documentary       None      None     None      None  None
9731       Action  Adventure    Comedy   Sci-Fi      None  None
9732       Action  Animation    Comedy   Sci-Fi      None  None
9733    Animation      Drama      None     None      None  None
9734       Comedy      Drama      None     None      None  None
9735    Animation       None      None     None      None  None
9736  Documentary       None      None     None      None  None
9737       Action  Animation    Comedy  Fantasy      None  None
9738    Animation     Comedy   Fantasy     None      None  None
9739        Drama       None      None     None      None  None
9740       Action  Animation      None     None      None  None
9741       Comedy       None      None     None      None  None

[9742 rows x 6 columns]

### 2. Concatena las nuevas columnas y quita la columna vieja

In [152]:
df1=pd.concat([df1, g], axis=1)
df1.drop(columns=['Genero']).head()

,ID,Titulo,G1,G2,G3,G4,G5,G6
0,1,Toy Story (1995),Adventure,Animation,Children,Comedy,Fantasy,None
1,2,Jumanji (1995),Adventure,Children,Fantasy,None,None,None
2,3,Grumpier Old Men (1995),Comedy,Romance,None,None,None,None
3,4,Waiting to Exhale (1995),Comedy,Drama,Romance,None,None,None
4,5,Father of the Bride Part II (1995),Comedy,None,None,None,None,None

### 3. Agrega al dataframe pasado una columna de las calificaciones promedio

In [162]:
# Cambiemos los nombres de las columnas del segundo dataframe
df2.columns=['UID','ID','Cal','time','NC']

# Creamos la columna de la media
rat=df2[['ID','Cal']].groupby('ID').mean()

In [164]:
# Colocamos las mediciones a los IDs repectivos 
df1=df1.merge(rat,on='ID',how='inner')

In [165]:
df1

,ID,Titulo,Genero,G1,G2,G3,G4,G5,G6,Cal
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Adventure,Animation,Children,Comedy,Fantasy,None,3.920930
1,2,Jumanji (1995),Adventure|Children|Fantasy,Adventure,Children,Fantasy,None,None,None,3.431818
2,3,Grumpier Old Men (1995),Comedy|Romance,Comedy,Romance,None,None,None,None,3.259615
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Comedy,Drama,Romance,None,None,None,2.357143
4,5,Father of the Bride Part II (1995),Comedy,Comedy,None,None,None,None,None,3.071429
5,6,Heat (1995),Action|Crime|Thriller,Action,Crime,Thriller,None,None,None,3.946078
6,7,Sabrina (1995),Comedy|Romance,Comedy,Romance,None,None,None,None,3.185185
7,8,Tom and Huck (1995),Adventure|Children,Adventure,Children,None,None,None,None,2.875000
8,9,Sudden Death (1995),Action,Action,None,None,None,None,None,3.125000
9,10,GoldenEye (1995),Action|Adventure|Thriller,Action,Adventure,Thriller,None,None,None,3.496212
10,11,"American President, The (1995)",Comedy|Drama|Romance,Comedy,Drama,Romance,None,None,None,3.671429
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,Comedy,Horror,None,None,None,None,2.421053
12,13,Balto (1995),Adventure|Animation|Children,Adventure,Animation,Children,None,None,None,3.125000
13,14,Nixon (1995),Drama,Drama,None,None,None,None,None,3.833333
14,15,Cutthroat Island (1995),Action|Adventure|Romance,Action,Adventure,Romance,None,None,None,3.000000
15,16,Casino (1995),Crime|Drama,Crime,Drama,None,None,None,None,3.926829
16,17,Sense and Sensibility (1995),Drama|Romance,Drama,Romance,None,None,None,None,3.776119
17,18,Four Rooms (1995),Comedy,Comedy,None,None,None,None,None,3.700000
18,19,Ace Ventura: When Nature Calls (1995),Comedy,Comedy,None,None,None,None,None,2.727273
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller,Action,Comedy,Crime,Drama,Thriller,None,2.500000
20,21,Get Shorty (1995),Comedy|Crime|Thriller,Comedy,Crime,Thriller,None,None,None,3.494382
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller,Crime,Drama,Horror,Mystery,Thriller,None,3.222222
22,23,Assassins (1995),Action|Crime|Thriller,Action,Crime,Thriller,None,None,None,3.125000
23,24,Powder (1995),Drama|Sci-Fi,Drama,Sci-Fi,None,None,None,None,3.125000
24,25,Leaving Las Vegas (1995),Drama|Romance,Drama,Romance,None,None,None,None,3.625000
25,26,Othello (1995),Drama,Drama,None,None,None,None,None,3.500000
26,27,Now and Then (1995),Children|Drama,Children,Drama,None,None,None,None,3.333333
27,28,Persuasion (1995),Drama|Romance,Drama,Romance,None,None,None,None,4.227273
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,Adventure,Drama,Fantasy,Mystery,Sci-Fi,None,4.013158
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama,Crime,Drama,None,None,None,None,3.000000
...,...,...,...,...,...,...,...,...,...,...
9694,188189,Sorry to Bother You (2018),Comedy|Fantasy|Sci-Fi,Comedy,Fantasy,Sci-Fi,None,None,None,4.500000
9695,188301,Ant-Man and the Wasp (2018),Action|Adventure|Comedy|Fantasy|Sci-Fi,Action,Adventure,Comedy,Fantasy,Sci-Fi,None,3.666667
9696,188675,Dogman (2018),Crime|Drama,Crime,Drama,None,None,None,None,3.500000
9697,188751,Mamma Mia: Here We Go Again! (2018),Comedy|Romance,Comedy,Romance,None,None,None,None,4.500000
9698,188797,Tag (2018),Comedy,Comedy,None,None,None,None,None,4.000000
9699,188833,The Man Who Killed Don Quixote (2018),Adventure|Comedy|Fantasy,Adventure,Comedy,Fantasy,None,None,None,4.500000
9700,189043,Boundaries (2018),Comedy|Drama,Comedy,Drama,None,None,None,None,2.500000
9701,189111,Spiral (2018),Documentary,Documentary,None,None,None,None,None,3.000000
9702,189333,Mission: Impossible - Fallout (2018),Action|Adventure|Thriller,Action,Adventure,Thriller,None,None,None,3.750000
9703,189381,SuperFly (2018),Action|Crime|Thriller,Action,Crime,Thriller,None,None,None,2.500000
9704,189547,Iron Soldier (2010),Action|Sci-Fi,Action,Sci-Fi,None,None,None,None,1.000000
9705,189713,BlacKkKlansman (2018),Comedy|Crime|Drama,Comedy,Crime,Drama,None,None,None,2.500000
9706,190183,The Darkest Minds (2018),Sci-Fi|Thriller,Sci-Fi,Thriller,None,None,None,None,3.500000
9707,190207,Tilt (2011),Drama|Romance,Drama,Romance,None,None,None,None,1.500000
9708,190209,Jeff Ross Roasts the Border (2017),Comedy,Comedy,None,None,None,None,None,4.000000
9709,190213,John From (2015),Drama,Drama,None,None,None,None,None,1.000000
9710,190215,Liquid Truth (2017),Drama,Drama,None,None,None,None,None,1.500000
9711,190219,Bunny (1998),Animation,Animation,None,None,None,None,None,1.000000
9712,190221,Hommage à Zgougou (et salut à Sabine Mamou) (2...,Documentary,Documentary,None,None,None,None,None,1.000000
9713,191005,Gintama (2017),Action|Adventure|Comedy|Sci-Fi,Action,Adventure,Comedy,Sci-Fi,None,None,4.500000
9714,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,Action,Animation,Comedy,Sci-Fi,None,None,3.500000
9715,193567,anohana: The Flower We Saw That Day - The Movi...,Animation|Drama,Animation,Drama,None,None,None,None,3.000000
9716,193571,Silver Spoon (2014),Comedy|Drama,Comedy,Drama,None,None,None,None,4.000000
9717,193573,Love Live! The School Idol Movie (2015),Animation,Animation,None,None,None,None,None,4.000000
9718,193579,Jon Stewart Has Left the Building (2015),Documentary,Documentary,None,None,None,None,None,3.500000
9719,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,Action,Animation,Comedy,Fantasy,None,None,4.000000
9720,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,Animation,Comedy,Fantasy,None,None,None,3.500000
9721,193585,Flint (2017),Drama,Drama,None,None,None,None,None,3.500000
9722,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,Action,Animation,None,None,None,None,3.500000
9723,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,Comedy,None,None,None,None,None,4.000000